@{
    ViewData["Title"] = "Tunnels";
}

<div class="my-3 p-3 bg-white rounded shadow-sm" id="app">
    <h6 class="border-bottom border-gray pb-2 mb-0">Tunnels</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Client</th>
                <th>Host</th>
                <th>Created At (UTC)</th>
                <th>Last Active (UTC)</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(tunnel, i) in tunnels">
                <td>{{ tunnel.leftEndpoint }}</td>
                <td>{{ tunnel.rightEndpoint }}</td>
                <td>{{ tunnel.host }}</td>
                <td>{{ tunnel.createdTimeUtc }}</td>
                <td>{{ tunnel.lastCommunicationTimeUtc }}</td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{
    <script>var app = new Vue({
            data: {
                tunnels: []
            },
            created: function () {
                this.loadTunnels();
                setInterval(this.loadTunnels, 1000 * 3);
            },
            methods: {
                loadTunnels: function () {
                    var self = this;
                    return qv.get('/api/tunnel').then(data => {
                        self.tunnels = data;
                    });
                }
            }
        });
        app.$mount('#app');</script>
}