<div class="main">
    <div class="main-header">
        <img src="/assets/img/menu-user.png" class="main-icon" />
        <span class="main-title">Users</span>
        <span class="main-close">×</span>
    </div>
    <div class="action-bar">
        <a class="action-bar-item" v-on:click="save" v-bind:class="{ 'disabled': !isDirty() && !usersToRemove.length }"><i class="fa fa-save"></i> Save</a>
        <a class="action-bar-item"><i class="fa fa-plus"></i> Add</a>
        <a class="action-bar-item" v-on:click="deleteUser(selected)" v-bind:class="{ 'disabled': selected == null }"><i class="fa fa-trash"></i> Delete</a>
        <a class="action-bar-item" v-on:click="revert" v-bind:class="{ 'disabled': !isDirty() && !usersToRemove.length }"><i class="fa fa-undo"></i> Revert</a>
    </div>
    <div class="container scroll-with-action-bar">
        <table class="list" style="margin-top: 20px">
            <colgroup>
                <col style="width: 40px" />
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>USERNAME</th>
                    <th>ROLE</th>
                    <th>ALLOW CREATE ON DEMAND EP</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, i) in users" 
                    v-bind:row-id="i" 
                    v-show="!usersToRemove.some(x => x == user.username)" 
                    v-on:click="selected = user.username" 
                    v-bind:class="{ 'selected': selected == user.username, 'dirty': isRowDirty(user) }">
                    <td><div class="avatar">{{ user.username.substr(0, 2).toUpperCase() }}</div></td>
                    <td>{{ user.username }}</td>
                    <td>
                        <select class="inline-select"
                                v-model="user.role" 
                                v-bind:class="{ 'dirty': user.role != user.__role }">
                            <option>Admin</option>
                            <option>User</option>
                        </select>
                    </td>
                    <td>
                        <select class="inline-select" 
                                v-model="user.allowCreateOnDemandEndpoint" 
                                v-bind:class="{ 'dirty': user.allowCreateOnDemandEndpoint != user.__allowCreateOnDemandEndpoint }">
                            <option value="true">Allow</option>
                            <option value="false">Deny</option>
                        </select>
                    </td>
                </tr>
                <tr v-if="users.length - usersToRemove.length == 0">
                    <td colspan="4">No User Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>