body {
    margin: 0;
    background: #efefef;
    font-size: 14px;
    color: #555;
}

.nav {
    width: 100%;
    height: 60px;
    background: #87bc40;
    position: fixed;
    left: 0;
    top: 0;
}

.container {
    padding: 0 20px;
}

.nav-inner {
    line-height: 60px;
    height: 60px;
    font-size: 20px;
}

.nav-img {
    height: 36px;
    margin-top: 12px;
    float: left;
    margin-right: 15px;
}

.nav-title {
    float: left;
    color: #fff;
}

.left-menu {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 280px;
    background: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.menu-item {
    font-size: 12px;
    line-height: 22px;
    padding: 10px 20px;
    color: #555;
    font-weight: 500;
    cursor: pointer;
}

    .menu-item:hover {
        background: #eee;
    }

    .menu-item.active {
        background: #e7e7e7;
    }

.menu-icon {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 15px;
}

.menu-hr {
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid #eee;
    color: #888;
}

.menu-badge {
    float: left;
    margin-right: 10px;
    padding: 0px 3px;
    font-size: 10px;
    color: #fff;
    min-width: 30px;
    text-align: center;
}

.menu-badge.tcp {
    background: #bcba40;
}

.menu-badge.udp {
    background: #40a3bc;
}

.main {
    position: fixed;
    left: 280px;
    top: 60px;
    bottom: 0;
    right: 0;
    background: #fff;
    border-left: 1px solid #ddd;
}

.main-header {
    height: 44px;
    border-bottom: 1px solid #ddd;
    line-height: 44px;
    padding: 0 15px;
    vertical-align: middle;
}

.menu-item:first-child {
    margin-top: 10px;
}

.main-icon {
    margin-top: 4px;
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 15px;
}

.main-title {
    font-size: 15px;
    color: #555;
}

.main-close {
    float: right;
    font-size: 24px;
    color: #777;
    cursor: pointer;
}

.main-body {
    padding: 10px 20px;
}

.settings-icon {
    width: 28px;
    height: 28px;
}

.table {
    width: 100%;
    color: #555;
    font-size: 12px;
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 52px;
}

    .table.narrow {
        line-height: 30px;
    }

.essentials-table-outer {
    border-bottom:  1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px 0;
}

.bold {
    font-weight: bold;
}

h4, h5 {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.textbox {
    padding: 5px;
    border: 1px solid #888;
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;
    color: #555;
    border-radius: 0;
    border-color: #aaa;
}

    .textbox:hover {
        border-color: #555;
    }

span.red {
    color: red;
}

.max-520 {
    max-width: 520px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    border-top: 1px solid #ddd;
    vertical-align: middle;
}

.button {
    background: #87bc40;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
}

    .button:hover {
        background: #7cad3b;
    }

.footer-inner {
    padding: 17px 20px;
}

.hint {
    font-size: 12px;
    color: #555;
}

h5 {
    font-size: 13px;
}

h4.section, h5.section {
    margin-top: 20px;
    margin-bottom: 5px;
}

.textbox.invalid {
    border-color: red;
}

.list {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

    .list th {
        padding: 3px 8px;
    }

    .list td {
        padding: 10px 8px;
    }

    .list th {
        text-align: left;
        font-weight: bold;
    }

    .list tbody tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .list tbody {
        line-height: 30px;
    }

.avatar {
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    float: left;
    background: #87bc40;
}

.action-bar {
    width: calc(100% + 40px);
    border-bottom: 1px solid #ddd;
}

.action-bar-item {
    line-height: 38px;
    padding: 0 10px;
    color: #555;
    display: inline-block;
    cursor: pointer;
}

    .action-bar-item:hover {
        color: #333;
        background: #eee;
    }

    .action-bar-item.disabled {
        color: #ccc;
    }

.list tbody tr:hover {
    background: #fafafa;
}

.inline-select, .inline-textbox {
    outline: 0;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: #555;
    font-size: 12px;
}

.list tr.dirty {
    border-top-color: #d495ff !important;
    border-bottom-color: #d495ff !important;
    background-color: #fbf5ff !important;
}

    tr.dirty .dirty {
        color: mediumpurple !important;
    }

.list tr.selected {
    border-top-color: #95c5ff !important;
    border-bottom-color: #95c5ff !important;
    background-color: #f5fbff !important;
}

.scroll-with-action-bar {
    overflow-y: auto;
    height: calc(100% - 85px);
}

.pane {
    position: fixed;
    width: 440px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    top: 60px;
    left: 280px;
}

.pane-inner {
    padding: 20px;
}

.pane-title {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.pane-footer {
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.button.gray {
    background: #ddd;
    color: #555;
}

.button.gray:hover {
    background: #cecece;
    color: #333;
}

.notifications {
    position: fixed;
    top: 60px;
    right: 40px;
    width: 320px;
}

.notification {
    background: #fcfcfc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 15px;
    border: 1px solid #ccc;
    border-left: 8px solid #ccc;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.notification-title {
    font-size: 14px;
    font-weight: bold;
}

.notification.blue {
    border-color: #95c5ff;
    background: #f5fbff;
}

    .notification.blue .notification-title {
        color: #5ea7ff;
    }

.notification.green {
    border-color: #87bc40;
    background: #f6fff5;
}

    .notification.green .notification-title {
        color: #7cb332;
    }

.notification.red {
    border-color: #ff6666;
    background: #fffbfb;
}

    .notification.red .notification-title {
        color: #ff5858;
    }

.notification-close {
    float: right;
    font-size: 20px;
    margin-top: -8px;
    color: #888;
    cursor: pointer;
}

.narrow {
    width: 260px;
    overflow-x: hidden;
    border-right: 1px solid #ddd;
    min-height: calc(100% - 45px);
    float: left;
}

    .narrow .narrow-hidden {
        display: none;
    }

.extend {
    width: calc(100% - 261px);
    overflow-x: hidden;
    min-height: calc(100% - 45px);
    min-height: calc(100% - 45px);
    float: left;
}

.action-bar-item:first-child {
    margin-left: 15px;
}

.detail-menu {
    line-height: 22px;
    padding: 8px 15px;
    cursor: pointer;
}

.detail-menu-icon {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 15px;
}

.detail-menu:hover, .detail-menu.active {
    background: #eee;
}

.table.narrow-col {
    line-height: 30px!important;
}

.main-title {
    font-size: 16px;
    margin: 15px 0 5px 0;
}

.section-header {
    margin: 0 15px;
    padding: 5px 0;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}